<section class="container">
  <img
    class="cover"
    [src]="housingLocation.photo"
    alt="Exterior photo of {{ housingLocation.name }}"
  />
  <div class="info">
    <div>
      <h2 class="name">{{ housingLocation.name }}</h2>
      <div class="location">
        <app-icon-location></app-icon-location>
        <span>{{ housingLocation.city }}, {{ housingLocation.state }}</span>
      </div>
    </div>

    <a class="btnMore" [routerLink]="['/details', housingLocation.id]"
      >Learn More</a
    >
  </div>
</section>
